*{
    margin: 0;
    padding: 0;
    font-family: Roboto; 
    box-sizing: border-box;
}
.header-nav {
   text-align: center;
   margin-top: 50px;
   margin-bottom: 79px;
}
.header-nav-list {
   display: flex;
   justify-content: center;
   gap: 30px;
   margin-top: 79px;
   flex-wrap: wrap;
}
ul{
    list-style: none; 
}
a{
    text-decoration: none;
    color: #8C8A8A;
}
.header-content{
    max-width: 1110px;
    width: 100%;
    height: 450px;
    margin: 0 auto;
    margin-bottom: 30px;
}
h2{
    color: #4581B7;
font-size: 20px;
font-weight: 700;
text-align: center;
}
.main-top{
    display: flex;
   justify-content: center;
   flex-wrap: wrap;
   
}
.container .main-top .main-left {
    color: #808080;
font-size: 16px;
line-height: 27px;
max-width: 730px;
width: 100%;
background: var(--grey, #F0F0F0);
padding: 50px 95px 51px 40px;
}
.container .main-top {
    display: flex;
}
.container .main-top .main-right{
background: #F0F0F0;
color: #808080;
 padding: 50px 25px 51px 40px;
}
.title{
  margin-bottom: 23px;
}
.container .main-top .main-right{
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    max-width: 350px;
    width: 100%;
    height: 475px;
}
.container .main-top .main-right .web {
    display: flex;
    padding-bottom: 50px;
    padding-top: 50px;
   max-width: 286px;
   width: 100%;
}
.container .main-top .main-right p{
   max-width: 286px;
    width: 100%;
}
.container .main-top .main-left p{
    max-width: 595px;
    width: 100%;
}
.footer-content{
    max-width: 1110px;
    width: 100%;
    background: var(--grey, #F0F0F0);
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-number{
    color: #808080;
    font-size: 25px;
}
.footer-text{
    color: #808080;
    font-size: 16px;
    margin-right: 45px;
}
.footer-left{
    padding: 15px 40px;
}
.footer-box{
    display: flex;
    justify-content: center;
}
.footer-left{
    width: 100%;
}
@media (max-width:1150px){
    .header-content-box-img{
    width: 100%;
    }
    .main-top{
    gap: 15px;
    }
}
@media (max-width:680px){
    .footer-content{
    flex-direction: column;
    }
}
@media (max-width:570px){
    .main-top{
        margin-top: -150px;
    }
}
@media (max-width:450px){
    .main-right{
        margin-right: 25px;
    font-size: 15px;
    }
   .main-left{
    font-size: 15px;
    margin-top: -150px;
    }
}
